* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.max-width {
    max-width: 1400px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 40px 0;
    z-index: 999;
}

.navbar.sticky {
    background: rgb(0, 0, 0);
}

.navbar .logo a {
    text-decoration: none;
    font-size: 3em;
    font-weight: 500;
    color: #000;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
    font-size: 19px;
    font-weight: 500;
    transition: color 0.6s ease;
}

.navbar .menu li a:hover {
    color: blue;
}

.menu-btn {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
}


/*style du home*/

.home {
    display: flex;
    background: url(img/avel-chuklanov-DUmFLtMeAbQ-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    max-height: 900px;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .max-width .content-home .text-1 {
    font-size: 27px;
}

.home .max-width .content-home .text-2 {
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
}

.home .max-width .content-home .text-3 {
    font-size: 40px;
    margin-top: 5px 0;
}

.home .max-width .content-home .text-3 span {
    color: crimson;
    font-weight: 600;
}

.home .max-width .content-home a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 36px;
    background: crimson;
    border: 2px solid crimson;
    transition: all 0.6s ease;
}

.home .max-width .content-home a:hover {
    background: none;
    color: crimson;
}