* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.max-width {
    max-width: 1400px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 40px 0;
    z-index: 999;
}

.navbar.sticky {
    padding: 15px 0;
    background: rgb(199, 201, 211);
}

.navbar .logo a {
    text-decoration: none;
    font-size: 3em;
    font-weight: 500;
    color: #000;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
    font-size: 19px;
    font-weight: 500;
    transition: color 0.6s ease;
}

.navbar .menu li a:hover {
    color: blue;
}

.menu-btn {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
}

section {
    padding: 100px 0;
}


/*style du home*/

.home {
    display: flex;
    background: url(img/avel-chuklanov-DUmFLtMeAbQ-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    max-height: 900px;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .max-width .content-home .text-1 {
    font-size: 30px;
}

.home .max-width .content-home .text-2 {
    font-size: 85px;
    font-weight: 500;
    margin-left: -3px;
}

.home .max-width .content-home .text-3 {
    font-size: 55px;
    margin-top: 5px 0;
}

.home .max-width .content-home .text-3 span {
    color: crimson;
    font-weight: 600;
}

.home .max-width .content-home a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 36px;
    background: crimson;
    border: 2px solid crimson;
    transition: all 0.6s ease;
}

.home .max-width .content-home a:hover {
    background: none;
    color: crimson;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

section .title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 4px;
    bottom: 0;
    left: 50%;
    background: #000;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);
}

.services .title::after,
.about .title::after {
    content: "who i am";
}

.about .content-about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about .content-about .left {
    width: 45%;
}

.about .content-about .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .content-about .right {
    width: 55%;
}

.about .content-about .right .text {
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about .content-about .right .text span {
    color: blue;
}

.about .content-about .right p {
    text-align: justify;
}

.about .content-about .right a {
    display: inline-block;
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    padding: 12px 36px;
    text-decoration: none;
    border-radius: 6px;
    margin-top: 20px;
    background: crimson;
    border: 2px solid crimson;
    transition: all 0.6s ease;
}

.about .content-about .right a:hover {
    background: none;
    color: crimson;
}


/*service*/

.services .title::after {
    content: "learn";
    background: #111;
}

.services .content-services {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services {
    color: #ffff;
    background: #111;
}

.services .title::before {
    background: #fff;
}

.services .content-services .card {
    width: calc(33% - 20px);
    text-align: center;
    background: #222;
    padding: 30px 35px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.6s ease;
    margin-top: 20px;
}

.services .content-services .card .text {
    font-size: 25px;
    font-weight: bold;
    padding: 12px 0 10px 0;
}

.services .content-services .card p {
    margin: 10px 0;
}

.services .content-services .card a {
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    transition: all 0.5s ease;
}

.services .content-services .card a:hover {
    color: #000;
}

.services .content-services .card:hover {
    background: crimson;
}

.services .content-services .card .box {
    transition: all 0.6s ease;
}

.services .content-services .card .box:hover {
    transform: scale(1.08);
}

.services .content-services .card .box img {
    width: 100px;
}

.services .content-services .card .text {
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

@media (max-width: 546px) {
    .max-width {
        padding: 0 40px;
    }
    .home .max-width .content-home .text-1 {
        font-size: 19px;
    }
    .home .max-width .content-home .text-2 {
        font-size: 35px;
    }
    .home .max-width .content-home .text-3 {
        font-size: 250px;
    }
    .services .content-services .card {
        flex: 100%;
    }
}

@media (max-width: 1128px) {
    .home .max-width {
        margin-left: 0;
    }
}

@media (max-width: 1117px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .navbar .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: -100%;
        background: #000;
        text-align: center;
        padding-top: 100px;
        transition: all 0.5s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        font-size: 35px;
        margin-top: 40px;
    }
    .home .max-width .content-home .text-1 {
        font-size: 25px;
    }
    .home .max-width .content-home .text-2 {
        font-size: 55px;
    }
    .home .max-width .content-home .text-3 {
        font-size: 50px;
    }
    .max-width {
        max-width: 800px;
    }
    .about .content-about .left img {
        height: 300px;
        width: 300px;
    }
    .about .content-about .colunm {
        width: 100%;
    }
    .about .content-about .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .content-about .right {
        flex: 100%;
    }
    .services .content-services .card {
        width: calc(50% - 25px);
        flex-direction: column;
    }
}